/* General styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #222222;
}

/* Header styles */
header {
    background: #222222;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 20px 50px 20px rgba(0, 0, 0, 0.253);
    border-radius: 20px;
    margin-bottom: 80px;
}

header h1 {
    margin: 40px;
    font-size: 30px;
   
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #33333300;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #55555500;
    color: #11e418;
}

/* Main form section styles */
#formbody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px); /* Adjusts for header and footer height */
    background-color: #222222;
    margin-bottom: 0px;
}

.loginform {
    background-color: #222222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 60px 20px rgba(0, 0, 0, 0.249);
    max-width: 350px;
    width: 100%;
}

.loginform label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ffffff;
}

.loginform input[type="text"],
.loginform input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginform button {
    width: 100%;
    padding: 10px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.loginform button[type="button"] {
    background-color: #222222;
    margin-top: 10px;
}

.loginform button:hover {
    background-color: #45a049;
}

.loginform button[type="button"]:hover {
    background-color: #333;
}

br {
    margin: 20px ;
    text-align:right;
}

/* Footer styles */
footer {
    background-color: #222222;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 70px;
    border-radius: 20px;
    box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.247);
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 0;
    margin-bottom: 10px;
}

footer .social-links {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    gap: 10px;
}

footer .social-links li {
    display: inline-block;
}

footer .social-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    background-color: #222222;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

footer .social-links li a:hover {
    background-color: #45a04900;
    color: #11e418;
}
